// Created by sam mok 2015(Siso brand interactive team).

/*======================================================================
      Global
  ======================================================================*/
* {
  padding: 0;
  margin: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
  outline: none;
}

html {
  height: 100%;

  font-family: "microsoft yahei", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  height: 100%;
  max-width: 440px;
  margin: 0  auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p, a, button, span {
  -webkit-font-smoothing: antialiased;
}

input {
  outline: none;
}

#iSlider-arrow {
  position: absolute;
  width: 1.1em;
  height: 1.1em;
  left: 0;
  right: 0;
  bottom: 8%;
  margin: 0 auto;
  border-top: 2px solid #610B0B;
  border-right: 2px solid #610B0B;
  z-index: 10000;
  opacity: 1;
  -webkit-animation: nextPage 1.2s linear infinite;
}

#iSlider-wrapper{
  position: absolute;
  width: 1.1em;
  height: 1.1em;
  left: 0;
  right: 0;
  bottom: 6%;
  margin: 0 auto;
  border-top: 2px solid #610B0B;
  border-right: 2px solid #610B0B;
  z-index: 10000;
  opacity: 1;
  -webkit-animation: nextPage 1.2s linear infinite;
}

.mp3-box{
  position: absolute;
  right: 2.6%;top: 1%;
  z-index: 999;
  -webkit-animation: circle 14s infinite linear;
}
.mp3-box.active{
  -webkit-animation:none!important;
}
/* swiper */
.swiper-container{  position: relative;  width: 100%;  height: 100%; }
.swiper-wrapper{  position: relative;  width: 100%;  height: 100%;  }
.swiper-container {  position: relative;  width: 100%;  height: 100%;  }

.scene-wrapper{
  .down_transform01{
    opacity: 0;
    -webkit-transform: translate3d(0px,0px,0);
    -webkit-transition: all 1s ease;
  }
}

.swiper-slide{
  background: #fffac8;
  overflow: hidden;
  img{
    position: absolute;
  }
}

.resetAnimation{
  -webkit-transition-delay: 0s!important;
  -webkit-animation-delay: 0s!important;
  *{
    -webkit-transition-delay: 0s!important;
    -webkit-animation-delay: 0s!important;
  }
}

.loading_box{
  background: #fffac8;
  display: block;
  width: 100%;
  height: 100%;
  img{
    position: absolute;
    left: 35.5%;
    top: 30%;
  }
}

.scene01{
  .text{  -webkit-transition-delay:2s;  }
  .daxiang{
    top: 28%;
    opacity:0;
  }
  .logo{
    left: 38%;
    opacity: 0;
  }
  .quan2{
    left: -10%;
    top: 17.2%;
    opacity: 0;
  }
  .quan1{
    top: 22.2%;
    left: 0%;
    opacity: 0;
  }
  .hengfu{
    top: -3.4%;
    opacity: 0;
  }
  .quan3{
    left: -7.7%;
    top: 1.6%;
    opacity: 0;
  }
  .jiaochaxian{
    left: 5.6%;
    top: 31%;
    opacity: 0;
  }
  .zi{
    left: 19.7%;
    top: 65.8%;
    opacity: 0;
  }
  .zi-02{
    left:30.7%;
    top: 78%;
    opacity: 0;
  }
}

.scene02{
  .di{
    opacity: 0;
    -webkit-transition: all 2s; /* Safari */
    top: -9%;
  }
  .xiang{
    left:2.7%;
    top: 25.4%;
    opacity:0;
  }
  .zi{
    opacity: 0;
    left:12.7%;
    top: 7.9%;
  }
  .dian{
    opacity: 0;
    left:31.7%;
    top: 7.9%;
  }
  .fu{
    opacity: 0;
    left:41.7%;
    top: 7.4%;
  }
  .ji{
    opacity: 0;
    left:21.7%;
    top: 28.4%;
  }
  .hui{
    opacity: 0;
    left:28.7%;
    top: 28.4%;
  }
  .zi-01{
    opacity: 0;
    left:14.7%;
    top: 78.9%;
  }
}

.scene03{
  .xiang{
    opacity: 0;
    top: 43.4%;
  }
  .jiantou{
    opacity: 0;
    top: 91.4%;
  }
  .hua1{
    opacity: 0;
    top: 60%;
    left: 40%;
  }
  .piaofu1{
    opacity: 0;
    left: 78%;
    top: 40%;
  }
  .piaofu2{
    opacity: 0;
    left: 26%;
    top: 44.4%;
  }
  .piaofu3{
    opacity: 0;
    left: 82%;
    top: 59%;
  }
  .piaofu4{
    opacity: 0;
    left: 52%;
    top: 66%;
  }
  .piaofu5{
    opacity: 0;
    left: 42%;
    top: 88%;
  }
  .piaofu6{
    opacity: 0;
    left: 89%;
    top: 80%;
  }
  .zi{
    opacity: 0;
    left: 10%;
    top: 0%;
  }
  .gai{
    opacity: 0;
    left: 56.3%;
    top: 0%;
  }
  .xie{
    opacity: 0;
    left: 71%;
    top: 0%;
  }
  .shang{
    opacity: 0;
    left: 33.3%;
    top: 8%;
  }
  .jie{
    opacity: 0;
    left: 48.8%;
    top: 8%;
  }
  .mo{
    opacity: 0;
    left: 64%;
    top: 8%;
  }
  .shi{
    opacity: 0;
    left: 79%;
    top: 8%;
  }
  .zi2{
    opacity: 0;
    left: 11%;
    top: 26.5%;
  }
  .zi3{
    opacity: 0;
    left: 11%;
    top: 34%;
  }

}
.scene04{
  .xiang1{
    opacity: 0;
    left:0%;
    top: 11%;
  }
  .xiang2{
    opacity: 0;
    left:1.4%;
    top: 28%;
  }
  .xiang3{
    opacity: 0;
    left:16%;
    top: 56%;
  }
  .zi{
    opacity: 0;
    left:10%;
    top: 0%;
  }
  .zi1{
    opacity: 0;
    left:51%;
    top: 34%;
  }
  .yi{
    opacity: 0;
    left:30%;
    top: 0%;
  }
  .ge{
    opacity: 0;
    left:41%;
    top: 0%;
  }
  .guo{
    opacity: 0;
    left:53%;
    top: 8%;
  }
  .ji{
    opacity: 0;
    left:63%;
    top: 8%;
  }
  .chao{
    opacity: 0;
    left:73%;
    top: 8%;
  }
  .liu{
    opacity: 0;
    left:84%;
    top: 8%;
  }
  .shi{
    opacity: 0;
    left:63%;
    top: 16%;
  }
  .fan{
    opacity: 0;
    left:73%;
    top: 16%;
  }
  .qun{
    opacity: 0;
    left:83%;
    top: 16%;
  }
  .zi2{
    opacity: 0;
    right: 8%;
    top: 82%;
  }
}

.scene05{
  .daxiang{
    opacity: 0;
    top: 48.9%;
    left: 1%;
  }
  .shan{
    opacity: 0;
    top: 83%;
    left: 13.6%;
  }
  .zi{
    opacity: 0;
    top: 4.8%;
    left: 16%;
  }
  .zi2{
    opacity: 0;
    top: 27.5%;
    left: 25%;
  }
  .zi3{
    opacity: 0;
    top: 40%;
    left: 25%;
  }
  .xx{
    opacity: 0;
    left: 41.6%;
    top: 2%;
  }
  .daqian{
    opacity: 0;
    top: 30%;
    right: 4%;
  }
  .qian{
    opacity: 0;
    top: 20%;
    right: 24%;
  }
  .xiaoqian{
    opacity: 0;
    top: 26%;
    left: 8%;
    -webkit-transform:rotate(220deg);
  }
  .circle{
  }
  .shou{
    opacity: 0;
    top: 10.4%;
    left: 34%;
  }
  .yi{
    opacity: 0;
    top: 11.2%;
    left: 44%;
  }
  .man1{
    opacity: 0;
    top: 11.3%;
    left: 55.6%;
  }
  .man2{
    opacity: 0;
    top: 11.3%;
    left: 65.6%;
  }
}

.scene-box{
  overflow: hidden;
  width: 82%;
  height: 84%;
  position: absolute;
  top: 6.3%;
  left: 9%;
}

.scene06{
  .bizi01{
    opacity: 0;
    left: 38%;
    top: 0%;
  }
  .bizi02{
    opacity: 0;
    right: 1.2%;
    top: 2%;
  }
  .bizi03{
    opacity: 0;
    right: 1.5%;
    top: 46%;
  }
  .bizi04{
    opacity: 0;
    bottom: 0;
  }
  .bizi05{
    opacity: 0;
    top:8%;
    left: 1.2%;
  }
  .zi01{
    opacity: 0;
    top: 21.3%;
    left: 22%;
  }
  .zi02{
    opacity: 0;
    top: 38.5%;
    left: 23.3%;
  }
  .zi03{
    opacity: 0;
    top:47%;
    left: 32%;
  }
  .zi04{
    opacity: 0;
    top:54%;
    left: 31%;
  }
  .gu{
    opacity: 0;
    top:68%;
    left: 24%;
  }
  .hai{
    opacity: 0;
    top:29%;
    left: 42%;
  }
  .you{
    opacity: 0;
    top:29%;
    left: 55%;
  }
}


.scene07{
  .ditu{
    top: -13%;
    opacity: 0;
    left: 4%;
    -webkit-transition: all 2s; /* Safari */
  }
  .xiang{
    top: 36%;
    opacity: 0;
    -webkit-transition: all 2s; /* Safari */
  }
  .zi{
    opacity: 0;
     top:-2%;
     left: 10%;
   }
  .zi1{
    opacity: 0;
    top:18%;
    left: 12%;
  }
  .she{
    opacity: 0;
    top:-0.2%;
    left: 18.2%;
  }
  .hua{
    opacity: 0;
    top:-0.5%;
    left: 28.2%;
  }
  .ka{
    opacity: 0;
    left: 8%;
    top: 6.5%;
  }
  .fei{
    opacity: 0;
    left: 18%;
    top: 7%;
  }
}

.scene08{
  .xiang{
    top: 30%;
    opacity: 0;
    -webkit-transition: all 2s; /* Safari */
  }

  .zi{
    top:-2%;
    left: 10%;
  }
  .zi1{
    opacity: 0;
    top:18%;
    left: 12%;
  }
  .she{
    top:-0.2%;
    left: 18.2%;
  }
  .hua{
    top:-0.5%;
    left: 28.2%;
  }
  .ka{
    left: 8%;
    top: 6.5%;
  }
  .fei{
    left: 18%;
    top: 7%;
  }
}

.scene09{
  .ditu{
    top: 20%;
    left: -10%;
    opacity: 0;
    -webkit-transition: all 2s; /* Safari */
  }
  .xiang{
    top: 30%;
    opacity: 0;
    -webkit-transition: all 2s; /* Safari */
  }

  .zi{
    top:-2%;
    left: 10%;
  }
  .zi1{
    opacity: 0;
    top:18%;
    left: 12%;
  }
  .she{
    top:-0.2%;
    left: 18.2%;
  }
  .hua{
    top:-0.5%;
    left: 28.2%;
  }
  .ka{
    left: 8%;
    top: 6.5%;
  }
  .fei{
    left: 18%;
    top: 7%;
  }
}

.scene10{
  .scene-box{
    height: 84%;
    top: 8%;
  }
  .heng{
    top: 4.4%;
  }
  .logo{
    left: 38%;
  }
  .daxiang{
    opacity: 0;
    bottom: -1%;
  }
  .zi1{
    opacity: 0;
    left: 18%;
    top: 26%;
  }
  .zi2{
    opacity: 0;
    left: 43%;
    top: 36%;
  }
  .zi3{
    opacity: 0;
    left: 30.5%;
    top: 47%;
  }
  .zi4{
    opacity: 0;
    left: 35.5%;
    top: 52%;
  }
  .zi5{
    opacity: 0;
    left: 42%;
    top: 56%;
  }
}

.scene11{
    .jianpin{
      opacity: 0;
      left: 30.5%;
      top: 26%;
    }
  .zi1{
    opacity: 0;
    left: 30.5%;
    top: 18%;
  }
  .zi2{
    opacity: 0;
    left: 30.5%;
    top: 88%;
  }
  .xx{
    opacity: 0;
    left: 27.5%;
    top: 36%;
  }
}

.scene12{
  .jianpin{
    opacity: 0;
    left: 20%;
    top: 32%;
  }
  .zi1{
    opacity: 0;
    left: 30.5%;
    top: 18%;
  }
  .zi2{
    opacity: 0;
    left: 16%;
    top: 88%;
  }
  .xx{
    opacity: 0;
    left: 9%;
    top: 26%;
  }
}


.scene13{
  .jianpin{
    opacity: 0;
    left: 22%;
    top: 33%;
  }
  .zi1{
    opacity: 0;
    left: 30%;
    top: 18%;
  }
  .zi2{
    opacity: 0;
    left: 28%;
    top: 90%;
  }
  .xx{
    opacity: 0;
    left: 16%;
    top: 28%;
  }
}

.scene14{
  .di{
    opacity: 0;
  }
  .zi{
    opacity: 0;
    left:28%;
    top: 18%;
  }
  .logo{
    opacity: 0;
    left:22%;
    top: 82%;
  }
  .bg{
    opacity: 0;
    top: 38%;
  }
  .zi1{
    opacity: 0;
    left:20%;
    top:40%;
  }
  .zi2{
    opacity: 0;
    left:23%;
    top:52%;
  }
  .zi3{
    opacity: 0;
    left:10%;
    top:57%;
  }
  .zi4{
    opacity: 0;
    left:17%;
    top:63%;
  }
}

/*
  ------------------------------------------------------------------------------------------------------------------
*/


//slide active
.swiper-slide-active.scene01{
  //scene01
  .quan1{
    -webkit-animation:bounceIn linear .5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 3s;
  }
  .quan3{
    -webkit-animation: display 2s ease 3s 1 forwards;
  }
  .daxiang{
    -webkit-animation:fadeInDownBig linear 1s;
    -webkit-animation-fill-mode: forwards;
  }
  .zi{
    -webkit-animation: fadeInDownBig 1s ease .8s 1 forwards;
  }
  .zi-02{
    -webkit-animation: fadeInUpBig 1s ease 1.2s 1 forwards;
  }
  .logo{
    -webkit-animation: fadeInDownBig 1s ease 1.2s 1 forwards;
  }
  .quan2{
      -webkit-animation:bounceIn linear .5s;
      -webkit-animation-fill-mode: forwards;
      -webkit-animation-delay: 3s;
  }
  .hengfu{
    -webkit-animation: display 2s ease 2s 1 forwards;
  }
  .jiaochaxian{
    -webkit-animation: display 2s ease 3s 1 forwards;
  }



}

//scene02
.scene02.swiper-slide-active{
  .di{
    opacity: 1;
  }
  .xiang{
    -webkit-animation: fadeInRightBig 1s ease 1s 1 forwards;
  }
  .zi{
    -webkit-animation: fadeInDownBig 1s ease 1.4s 1 forwards;
  }
  .dian{
    -webkit-animation: fadeInDownBig .8s ease 1.8s 1 forwards;
  }
  .fu{
    -webkit-animation: fadeInDownBig .8s ease 2.2s 1 forwards;
  }
  .ji{
    -webkit-animation: fadeInDownBig .8s ease 2.6s 1 forwards;
  }
  .hui{
    -webkit-animation: fadeInDownBig .8s ease 3s 1 forwards;
  }
  .zi-01{
    -webkit-animation: fadeInUpBig .8s ease 3s 1 forwards;
  }
}

//scene05
.scene05.swiper-slide-active{
  .daxiang{
    -webkit-animation: fadeInRightmin .8s ease .3s 1 forwards;
  }
  .shan{
    -webkit-animation: fadeInLeftmin .8s ease .3s 1 forwards;
  }
  .zi{
    -webkit-animation: fadeInDownBig .8s ease .4s 1 forwards;
  }
  .zi2{
    -webkit-animation: fadeInDownBig .8s ease .9s 1 forwards;
  }
  .zi3{
    -webkit-animation: fadeInDownBig .8s ease 1.3s 1 forwards;
  }
  .xx{
    -webkit-animation: flash .8s ease 1.3s 1 forwards;
  }
  .daqian{
    -webkit-animation: fadeInDownBig .8s ease 1.3s 1 forwards;
  }
  .qian{
    -webkit-animation: bounceInUp .8s ease 2s 1 forwards;
  }
  .xiaoqian{
    -webkit-animation: bounceInUp .8s ease 1s 1 forwards;
  }
  .circle{
    -webkit-animation: circle1 .8s ease 3s infinite forwards;
  }
  .shou{
    -webkit-animation: fadeInDownBig .8s ease 1.3s 1 forwards;
  }
  .yi{
    -webkit-animation: fadeInDownBig .8s ease 1.5s 1 forwards;
  }
  .man1{
    -webkit-animation: fadeInDownBig .8s ease 1.7s 1 forwards;
  }
  .man2{
    -webkit-animation: fadeInDownBig .8s ease 1.9s 1 forwards;
  }
}

//scene06
.scene06.swiper-slide-active{

  .bizi05{
    -webkit-animation: fadeInLeftmin .5s ease .3s 1 forwards;
  }
  .bizi02{
    -webkit-animation: fadeInRightmin .5s ease .3s 1 forwards;
  }
  .bizi03{
    -webkit-animation: fadeInRightmin .5s ease .3s 1 forwards;
  }
  .bizi01{
    -webkit-animation: fadeInBottommin .5s ease .8s 1 forwards;
  }

  .bizi04{
    -webkit-animation: fadeInTopmin .5s ease .8s 1 forwards;
  }

  .zi01{
    -webkit-animation: fadeInDownBig .6s ease 1.2s 1 forwards;
  }
  .zi02{
    -webkit-animation: fadeInDownBig .6s ease 1.8s 1 forwards;
  }
  .zi03{
    -webkit-animation: fadeInUpBig .6s ease 2.4s 1 forwards;
  }
  .zi03{
    -webkit-animation: fadeInRightmin .4s ease 2.8s 1 forwards;
  }
  .zi04{
    -webkit-animation: fadeInRightmin .4s ease 3.2s 1 forwards;
  }

  .gu{
    -webkit-animation: bounce 1s ease 2.8s 1 forwards;
  }
  .hai{
    -webkit-animation: fadeInDownBig .6s ease 1.6s 1 forwards;
  }
  .you{
    -webkit-animation: fadeInDownBig .6s ease 2.1s 1 forwards;
  }
}

//scene07
.scene07.swiper-slide-active{
  .ditu{
    opacity: 1;
  }
  .xiang{
    opacity: 1;
    -webkit-transition-delay: .6s;
  }
  .zi{
    -webkit-animation: fadeInDownBig .6s ease 1.2s 1 forwards;
  }
  .she{
    -webkit-animation: fadeInDownBig .6s ease 1.6s 1 forwards;
  }
  .hua{
    -webkit-animation: fadeInDownBig .6s ease 2s 1 forwards;
  }
  .ka{
    -webkit-animation: fadeInDownBig .6s ease 2.4s 1 forwards;
  }
  .fei{
    -webkit-animation: fadeInDownBig .6s ease 2.8s 1 forwards;
  }
  .zi1{
    -webkit-animation: bounceInLeft .6s ease 3s 1 forwards;
  }
}

//scene08
.scene08.swiper-slide-active{
  .ditu{
    opacity: 1;
  }
  .xiang{
    opacity: 1;
    -webkit-transition-delay: .6s;
  }

  .zi1{
    -webkit-animation: bounceInRight .6s ease 1s 1 forwards;
  }
}


//scene09
.scene09.swiper-slide-active{
  .ditu{
    opacity: 1;
    -webkit-transition-delay: .2s;
  }
  .xiang{
    opacity: 1;
    -webkit-transition-delay: .6s;
  }


  .zi1{
    -webkit-animation: fadeInUpBig .6s ease 1s 1 forwards;
  }
}

//scene03
.scene03.swiper-slide-active{
  .xiang{
    -webkit-animation: leftC .5s ease .1s 1 forwards;
  }
  .jiantou{
    -webkit-animation: leftC .5s ease .2s 1 forwards;
  }
  .hua1{
    -webkit-animation: leftC .5s ease .2s 1 forwards;
  }
  .piaofu1{
    -webkit-animation: leftC .5s ease .3s 1 forwards;
  }
  .piaofu2{
    -webkit-animation: leftC .5s ease .3s 1 forwards;
  }
  .piaofu3{
    -webkit-animation: leftC .5s ease .4s 1 forwards;
  }
  .piaofu4{
    -webkit-animation: leftC .5s ease .4s 1 forwards;
  }
  .piaofu5{
    -webkit-animation: leftC .5s ease .4s 1 forwards;
  }
  .piaofu6{
    -webkit-animation: leftC .5s ease .2s 1 forwards;
  }

  .zi{
    -webkit-animation: fadeInDownBig .4s ease .6s 1 forwards;
  }
  .gai{
    -webkit-animation: fadeInDownBig .4s ease 1.2s 1 forwards;
  }
  .xie{
    -webkit-animation: fadeInDownBig .4s ease 1.4s 1 forwards;
  }
  .shang{
    -webkit-animation: fadeInDownBig .4s ease 1.6s 1 forwards;
  }
  .jie{
    -webkit-animation: fadeInDownBig .4s ease 1.8s 1 forwards;
  }
  .mo{
    -webkit-animation: fadeInDownBig .4s ease 2s 1 forwards;
  }
  .shi{
    -webkit-animation: fadeInDownBig .4s ease 2.2s 1 forwards;
  }
  .zi2{
    -webkit-animation: fadeInRightmin .4s ease 2.8s 1 forwards;
  }
  .zi3{
    -webkit-animation: fadeInLeftmin .4s ease 2.8s 1 forwards;
  }

}

//scene04
.scene04.swiper-slide-active{
  .xiang1{
    -webkit-animation: leftB .2s ease .3s 1 forwards;
  }
  .xiang2{
    -webkit-animation: leftB .2s ease .5s 1 forwards;
  }
  .xiang3{
    -webkit-animation: leftB .2s ease .7s 1 forwards;
  }
  .zi{
    -webkit-animation: fadeInDownBig .4s ease 1s 1 forwards;
  }
  .zi1{
    -webkit-animation: fadeInDownBig .4s ease 2.2s 1 forwards;
  }
  .yi{
    -webkit-animation: fadeInDownBig .4s ease 1.2s 1 forwards;
  }
  .ge{
    -webkit-animation: fadeInDownBig .4s ease 1.2s 1 forwards;
  }
  .guo{
    -webkit-animation: fadeInDownBig .4s ease 1.4s 1 forwards;
  }
  .ji{
    -webkit-animation: fadeInDownBig .4s ease 1.4s 1 forwards;
  }
  .chao{
    -webkit-animation: fadeInDownBig .4s ease 1.4s 1 forwards;
  }
  .liu{
    -webkit-animation: fadeInDownBig .4s ease 1.4s 1 forwards;
  }
  .shi{
    -webkit-animation: fadeInDownBig .4s ease 1.8s 1 forwards;
  }
  .fan{
    -webkit-animation: fadeInDownBig .4s ease 1.8s 1 forwards;
  }
  .qun{
    -webkit-animation: fadeInDownBig .4s ease 1.8s 1 forwards;
  }
  .zi2{
    -webkit-animation: fadeInUpBig .6s ease 2.4s 1 forwards;
  }
}

.scene10.swiper-slide-active{
    .zi1{
      -webkit-animation: display .4s ease 1s 1 forwards;
    }
    .zi2{
      -webkit-animation: display .4s ease 1.4s 1 forwards;
    }
    .zi3{
      -webkit-animation: fadeInTopmin .4s ease 1.8s 1 forwards;
    }
  .zi4{
    -webkit-animation: fadeInTopmin .4s ease 2.2s 1 forwards;
  }
  .zi5{
    -webkit-animation: fadeInTopmin .4s ease 2.6s 1 forwards;
  }
  .daxiang{
    -webkit-animation: display .4s ease .3s 1 forwards;
  }



}

.scene11.swiper-slide-active{
  .jianpin{
    -webkit-animation: display .6s ease .6s 1 forwards;
  }
  .zi1{
    -webkit-animation: fadeInRightmin .6s ease 1s 1 forwards;
  }
  .zi2{
    -webkit-animation: fadeInLeftmin .6s ease 1s 1 forwards;
  }
  .xx{
    -webkit-animation: flash .8s ease 1.3s 1 forwards;
  }
}

.scene12.swiper-slide-active{
  .jianpin{
    -webkit-animation: display .6s ease .6s 1 forwards;
  }
  .zi1{
    -webkit-animation: fadeInRightmin .6s ease 1s 1 forwards;
  }
  .zi2{
    -webkit-animation: fadeInLeftmin .6s ease 1s 1 forwards;
  }
  .xx{
    -webkit-animation: flash .8s ease 1.3s 1 forwards;
  }
}

.scene13.swiper-slide-active{
  .jianpin{
    -webkit-animation: display .6s ease .6s 1 forwards;
  }
  .zi1{
    -webkit-animation: fadeInRightmin .6s ease 1s 1 forwards;
  }
  .zi2{
    -webkit-animation: fadeInLeftmin .6s ease 1s 1 forwards;
  }
  .xx{
    -webkit-animation: flash .8s ease 1.3s 1 forwards;
  }
}

.scene14.swiper-slide-active{
    .di{
      -webkit-animation: display 1s ease .4s 1 forwards;
    }
    .zi{
      -webkit-animation: fadeInDownBig .8s ease .8s 1 forwards;
    }
    .logo{
      -webkit-animation: display 1s ease .4s 1 forwards;
    }
    .bg{
      -webkit-animation: fadeInTopmin .8s ease 1.4s 1 forwards;
    }
    .zi1{
      -webkit-animation: fadeInRightmin .8s ease 1.7s 1 forwards;
    }
    .zi2{
      -webkit-animation: fadeInLeftmin .8s ease 1.9s 1 forwards;
    }
    .zi3{
      -webkit-animation: fadeInRightmin .8s ease 2.1s 1 forwards;
    }
    .zi4{
      -webkit-animation: bounceIn .8s ease 2.4s 1 forwards;
    }
}


/*======================================================================
      Responsive
  ======================================================================*/
@media screen and (max-width: 1215px) {

}


//animate
@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px,0,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}
@-webkit-keyframes rotateOut {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotateZ(0deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotateZ(360deg);
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,-2000px,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,2000px,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}

@-webkit-keyframes fadeInRightmin {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(60px,0,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}
@-webkit-keyframes fadeInLeftmin {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-60px,0,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}
@-webkit-keyframes fadeInTopmin {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px,60px,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}
@-webkit-keyframes fadeInBottommin {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px,-60px,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}

@-webkit-keyframes display {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: perspective(400px) rotateY(-360deg);
    -webkit-animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) translate3d(0,0,150px) rotateY(-190deg);
    -webkit-animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) translate3d(0,0,150px) rotateY(-170deg);
    -webkit-animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(.95,.95,.95);
    -webkit-animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
  }
}

@-webkit-keyframes flash {
  0%,50%,100% {
    opacity: 1;
  }

  25%,75% {
    opacity: 0;
  }
}


@-webkit-keyframes bounceInUp {
  0%,60%,75%,90%,100% {
    -webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,100%,0);
  }

  50% {
    opacity: 1;
    -webkit-transform: translate3d(0,-8%,0);
  }

  65% {
    opacity: 1;
    -webkit-transform: translate3d(0,4%,0);
  }

  80% {
    opacity: 1;
    -webkit-transform: translate3d(0,-4%,0);
  }

  95% {
    opacity: 1;
    -webkit-transform: translate3d(0,2%,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
  }
}

@-webkit-keyframes bounce {
  0%,20%,53%,80%,100% {
    -webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
    -webkit-transform: translate3d(0,0,0);
    opacity: 1;
  }

  40%,43% {
    -webkit-transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
    -webkit-transform: translate3d(0,-30px,0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
    -webkit-transform: translate3d(0,-15px,0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
  }
}

@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);

  }

  0% {
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {

    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}


@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);

  }

  from {
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}



@-webkit-keyframes nextPage {
  0% {
    -webkit-transform: translateY(40px) rotate(-45deg);
    opacity: 0.8;
  }
  50% {
    -webkit-transform: translateY(20px) rotate(-45deg);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: translateY(10px) rotate(-45deg);
    opacity: 0;
  }
}

@-webkit-keyframes circle1 {
  from {
    -webkit-transform: rotateZ(360deg);
    -webkit-transform-origin: 50% 50%;
  }
  to {
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: rotateZ(0deg);
  }
}


@-webkit-keyframes leftC {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100px,100px,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}
@-webkit-keyframes leftB {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20px,-20px,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: perspective(400px) rotateY(360deg);
    -webkit-animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) translate3d(0,0,150px) rotateY(190deg);
    -webkit-animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) translate3d(0,0,150px) rotateY(170deg);
    -webkit-animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(.95,.95,.95);
    -webkit-animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
  }
}


@-webkit-keyframes circle {
  from {
    -webkit-transform: rotateZ(-360deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
  }
}